<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Game List</title>
  {% load static %}
  <link rel="stylesheet" href="{%static 'old.css' %}"/>
</head>
<body>
<body>
    <div class="container">
        <h2>Game List</h2>

        {% for game in games %}
            <p>{{ game.name }}</p>
            <!-- Add other game details as needed -->

            <!-- Button to view game details -->
            <button onclick="location.href='{% url 'game_detail' game.id %}'" name="details">View Details</button>

            <hr>

        {% endfor %}

        <button onclick="location.href='/create_game/'">Create a Game</button>
        <div>
          <button onclick="location.href='/search/'">Search By Genre</button>
        </div>

        <br>
        <!-- Button to delete all games for the logged-in user -->
        <form method="post" action="{% url 'delete_games' game.id %}">
            {% csrf_token %}
            <input type="submit" value="Delete my Games" id="delete">
        </form>

        <br>

        <!-- Button to go back to the main page -->
        <button onclick="location.href='/'">Home</button>

        </body>
    </div>
</html>
