<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Landing Page</title>
  {% load static %}
  <link rel="stylesheet" href="{%static 'old.css' %}"/>
</head>
<body>
    <div class="container">
        <h2>{{ game.name }}</h2>

        <!-- Display the cover image -->
        {% if game.cover_image %}
        <img src="{{ game.cover_image.url }}" alt="Game Cover Image" style="max-width:600px;width:100%">
        {% else %}
          <p>No cover image available.</p>
        {% endif %}

        <p>Genres:
        {% for genre in game.genre.all %}
          {{ genre.name }}
        {% endfor %}
        </p>
        <p>Release Status: {{ game.release_status }}</p>
        <p>Description: {{ game.description }}</p>
        <p>Created by: {{ game.user.username }}</p>


        <!-- Add more details as needed -->
        {% if user.is_authenticated %}
          {% if fav %}
            <button onclick="location.href='/remove_fav/{{ game.id }}/'" class="button">Remove from Favorites</button>
          {% else %}
            <button onclick="location.href='/add_fav/{{ game.id }}/'" class="button">Add to Favorites</button>
          {% endif %}
          {% if user == game.user %}
            <button onclick="location.href='/edit_game/{{ game.id }}/'" class="button">Edit Page</button>
          {% endif %}
        {% endif %}
        <button onclick="location.href='/'">Home</button>
    </div>
</body>
</html>
