<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
</head>
<body>
  <p>PLACEHOLDER TEXT. This is the landing page</p>
  {% if user.is_authenticated %}
    <p>You are logged in as {{user.username}}</p>
    <a class="nav-link" href="/logout/">Logout</a>
    <a class="nav-link" href="/create_game/">Create a Game</a>  <!-- Link to create_game view -->
    <a class="nav-link" href="{% url 'game_list' %}">Go to Game List</a>
  {% else %}
    <p>You are not logged in</p>
    <a class="nav-link" href="/signup/">Create Account</a>
    <a class="nav-link" href="/login/">Login</a>
  {% endif %}
</body>
</html>
